<footer class="border-top pt-3 d-block d-lg-flex justify-content-evenly align-items-center text-bg-primary">
    <div class="small text-center">
        <p class="">Application made for LAMP server deployment testing.</p>
    </div>
    <div class="d-flex small justify-content-center">
        <p class="mx-2">Jerobel Rodriguez</p>
        <p class="">-</p>
        <a href="https://github.com/jerorguez" class="text-decoration-none text-light mx-2" target="_blank">
            @jerorguez      
        </a>
    </div>
</footer>

</body>
</html>